<ion-content>
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-subtitle>{{"AUTH_PAGE.welcome" | translate}} 🐝</ion-card-subtitle>
      <ion-card-title color="primary"
        >{{ (isSignup ? 'AUTH_PAGE.signup' : 'AUTH_PAGE.login') | translate}}</ion-card-title
      >
    </ion-card-header>

    <form [formGroup]="loginForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label position="floating">{{ "AUTH_PAGE.email" | translate}}</ion-label>
                <ion-input
                  data-test-id="email"
                  formControlName="email"
                  type="email"
                  placeholder="{{ 'AUTH_PAGE.emailPlaceholder' | translate }}"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">{{"AUTH_PAGE.password" | translate}}</ion-label>
                <ion-input
                  data-test-id="password"
                  formControlName="password"
                  type="password"
                  placeholder="{{'AUTH_PAGE.passwordPlaceholder' | translate}}"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button data-test-id="submit" color="primary" expand="block" (click)="onLogin()">
              {{ (isSignup ? 'AUTH_PAGE.signup' : 'AUTH_PAGE.login') | translate}}</ion-button
            >

            <ng-container *ngIf="!isSignup">
              <ion-label color="secondary" class="ion-float-left ion-padding" (click)="isSignup = !isSignup">
                {{'AUTH_PAGE.signup' | translate}}
              </ion-label>
              <ion-label color="secondary" class="ion-float-right ion-padding" (click)="resetPassword()">
                {{ 'AUTH_PAGE.passwordReset' | translate}}
              </ion-label>
            </ng-container>

            <ion-label
              *ngIf="isSignup"
              color="secondary"
              class="ion-float-left ion-padding"
              (click)="isSignup = !isSignup"
            >
              <ion-icon name="arrow-undo-outline"></ion-icon>
              {{"AUTH_PAGE.backToLogin" | translate}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
  <ion-card *ngIf="isSignup" class="login-card">
    <ion-card-content [innerHTML]="'AUTH_PAGE.beeNotesDescription' | translate"></ion-card-content>
  </ion-card>
</ion-content>
