.red {
  color: red;
}

.orange {
  color: #ffaa00;
}

.varroaNumber,
.varroaMite {
  display: inline-block;
}

.varroaMite {
  padding-left: 10px;
}

.varroaNumber {
  margin-bottom: 10px;
  vertical-align: middle;
}
