.red {
  color: red;
}

.orange {
  color: #ffaa00;
}

.varroaNumber,
.varroaMite {
  display: inline-block;
}

.varroaMite {
  padding-left: 2px;
}

.annotation {
  padding-top: 8px;
}

.text-small {
  font-size: 0.8em;
}

.varroaNumber {
  margin-bottom: 10px;
  vertical-align: middle;
}

.healthy {
  letter-spacing: -5px;
}
