<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/swarms/view/' + swarmId"
        [text]="'GENERAL.backButtonCaption' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'JOURNAL_PAGE.pageTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ng-container *ngFor="let entry of journalEntries; let idx = index">
      <ion-item
        *ngIf="idx === 0 || datesDiffer(entry.date, journalEntries[idx - 1].date)"
      >
        <ion-label class="ion-text-center" color="primary">
          {{ entry.date | date:'MMM dd'}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="ion-float-left ion-margin-start ion-text-wrap">
            <app-journal-entry-short [entry]="entry"></app-journal-entry-short>
            <div class="journalText">{{ entry.text }}</div>
          </div>
        </ion-label>

        <ion-buttons slot="end" *ngIf="!readonly">
          <ion-button routerLink="edit" [queryParams]="{entryId: entry.id}">
            <ion-icon name="create-outline" color="secondary"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteEntry(entry)">
            <ion-icon name="trash-outline" color="secondary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item *ngIf="journalEntries && journalEntries.length === 0">
        <ion-label>
          {{ 'JOURNAL_PAGE.noTrackedActivity' | translate }}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
