<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref=".."
        [text]="'GENERAL.backButtonCaption' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!readonly">
      <ion-fab-button color="primary" routerLink="edit">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
    <ion-title>{{ 'JOURNAL_PAGE.pageTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let entry of journalEntries; let idx = index">
      <div class="ion-float-left ion-text-center calendar-sheet">
        {{ entry.date | date:'MMM'}}
        <br />
        {{ entry.date | date:'dd'}}
      </div>
      <ion-label>
        <div class="ion-float-left ion-margin-start ion-text-wrap">
          <app-journal-entry-short [entry]="entry"></app-journal-entry-short>
          <div class="journalText">{{ entry.text }}</div>
        </div>
      </ion-label>

      <ion-buttons slot="end" *ngIf="!readonly">
        <ion-button routerLink="edit" [queryParams]="{entryId: entry.id}">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteEntry(entry)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="journalEntries && journalEntries.length === 0">
      <ion-label>
        {{ 'JOURNAL_PAGE.noTrackedActivity' | translate }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
