<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ 'COLONIES_PAGE.pageTitle' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="forceReloadSwarms($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="sortedSwarmGroups">
    <ion-list [inset]="true" mode="ios" lines="full" *ngIf="sortedSwarmGroups.length === 0">
      <ion-item class="ion-padding-vertical" lines="none"> {{ 'COLONIES_PAGE.noColonies' | translate }} 🐝 </ion-item>
    </ion-list>

    <ng-container *ngFor="let group of sortedSwarmGroups; let idx = index">
      <ion-list [inset]="true" mode="ios" lines="full">
        <app-group-header
          [group]="group"
          (changeEvent)="loadSwarms()"
          (renameEvent)="editSwarmGroup($event)"
        ></app-group-header>
        <app-weather-forecast [lat]="group.lat" [lng]="group.lng" *ngIf="group.lat && group.lng"></app-weather-forecast>
        <ng-container *ngIf="group.reminders && group.reminders.length > 0">
          <app-reminder-item
            [reminder]="reminder"
            *ngFor="let reminder of group.reminders"
            (notifyChange)="loadSwarms()"
          ></app-reminder-item>
        </ng-container>
        <ion-reorder-group (ionItemReorder)="doReorder($event, idx)" disabled="false">
          <ion-item *ngFor="let swarm of group.swarms" [routerLink]="['view', swarm.id]">
            <ion-reorder slot="start">
              <div class="reorder">
                <status-indicator [colonyId]="swarm.id" [isNucleus]="swarm.isNucleus"></status-indicator>
              </div>
            </ion-reorder>
            <ion-label>
              {{ swarm.name }}
              <span class="small-preview" *ngIf="swarm.lastAction as entry; else noActionYet">
                <br />
                <strong>{{ entry.date | date:'dd. MMM'}}: </strong>
                {{ 'ACTIONS.' + entry.type | translate }}
              </span>
              <ng-template #noActionYet>
                <br />
                <span class="small-preview">{{"JOURNAL_PAGE.noTrackedActivity" | translate}}</span>
              </ng-template>
            </ion-label>
          </ion-item>
        </ion-reorder-group>
        <ion-item class="green-bg">
          <app-group-action-bar
            [group]="group"
            (changeEvent)="loadSwarms()"
            (addSwarmEvent)="createSwarm($event)"
          ></app-group-action-bar>
        </ion-item>
      </ion-list>
    </ng-container>

    <div class="controls-container">
      <ion-buttons class="ion-padding-horizontal">
        <ion-fab-button class="addGroupButton" slot="end" color="primary" (click)="editSwarmGroup()">
          <ion-icon name="duplicate-outline"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
    </div>
  </ng-container>
</ion-content>
