.small-preview {
  font-size: smaller !important;
  color: #aaa;
}

ion-label {
  padding: 3px 0;
}

.statusInfoLabel {
  text-align: center;
  flex: 0 0 68px;
  font-size: 14px;
}

.statusInfoLabel ion-icon {
  margin-bottom: -2px;
}

.groupHeading {
  --ion-item-background: #efe;
}

.green-bg {
  --ion-item-background: #efe;
}

ion-fab-button {
  margin: 5px;
}

.top-buffer {
  border-top: 10px solid rgba(0, 0, 0, 0.7);
}

.reorder {
  display: inline-block;
  width: 40px;
  text-align: center;
}
