<ion-grid *ngIf="queenStatus$ | async as queenStatus">
  <ion-row>
    <ion-col size="3">Art: </ion-col>
    <ion-col size="8">
      {{
        (swarm.isNucleus ? "COLONIES_PAGE.nucleus" : "COLONIES_PAGE.fullColony")
          | translate
      }}
    </ion-col>
    <ion-col size="1" (click)="editColonyData()">
      <ion-icon name="create-outline" size="lg"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">{{ "QUEEN.race" | translate }}: </ion-col>
    <ion-col size="9">
      {{ "QUEEN." + queenStatus.race | translate }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">{{ "QUEEN.year" | translate }}:</ion-col>
    <ion-col size="9">
      <queen-color [year]="queenStatus.birthYear" *ngIf="queenStatus.birthYear"></queen-color>
      <div *ngIf="!queenStatus.birthYear">{{ 'QUEEN.UNKNOWN' | translate }}</div>
    </ion-col>
  </ion-row>
</ion-grid>
