<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Volk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Volk {{ (swarm$ | async).name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let entry of journalEntries">
        <ion-label [routerLink]="['journal', entry.id]">Eintrag vom {{ entry.date }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
