<ion-item-sliding>
  <ion-item class="ion-text-center groupHeading">
    <ion-label (click)="group.id && rename(group.id)">
      <strong> {{ group.name }} </strong><br />
      <span
        *ngIf="group.swarms.length === 0"
        class="small-preview"
        [innerHTML]="'COLONIES_PAGE.emptyGroupHint' | translate"
      >
      </span>
      <span
        *ngIf="group.name === DEFAULT_GROUP_NAME && group.swarms.length > 0"
        class="small-preview"
      >
        {{ "COLONIES_PAGE.changeGroupNameHint" | translate }}
      </span>
    </ion-label>
  </ion-item>
  <ion-item-options *ngIf="group.swarms.length === 0">
    <ion-item-option color="secondary" (click)="deleteGroup(group.id)">
      <ion-icon slot="end" name="trash-outline"></ion-icon>
      {{ "GENERAL.delete" | translate }}
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
