<ion-item class="ion-text-center groupHeading">
  <ion-label (click)="group.id && rename(group.id)">
    <strong> {{ group.name }} </strong><br />
    <span *ngIf="group.swarms && group.swarms.length === 0" class="small-preview">
      {{ "COLONIES_PAGE.emptyGroupHint" | translate }}
      <br />
    </span>
    <span *ngIf="group.lat && group.lng" class="small-preview">
      Lat: {{ group.lat | number: ".1-4" }} Lng:
      {{ group.lng | number: ".1-4" }}
    </span>
  </ion-label>
</ion-item>
