<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "SETTINGS_PAGE.pageTitle" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="purchasesAvailable && !hasFullVersion">
    <ion-button
      class="ion-padding-horizontal offset-top"
      color="success"
      size="default"
      expand="block"
      (click)="buyFullVersion()"
    >
      <ion-icon name="diamond-outline"></ion-icon>&nbsp;
      {{"SETTINGS_PAGE.buyFullVersion" | translate}}
    </ion-button>
    <ion-button
      class="ion-padding-horizontal offset-top-small"
      color="primary"
      size="default"
      expand="block"
      (click)="refreshStore()"
    >
      <ion-icon name="refresh-outline"></ion-icon>&nbsp;
      {{"SETTINGS_PAGE.restorePurchases" | translate}}
    </ion-button>
  </ng-container>
  <ion-button
    *ngIf="purchasesAvailable && hasFullVersion"
    class="ion-padding-horizontal offset-top"
    color="success"
    size="default"
    expand="block"
  >
    <ion-icon name="bag-check-outline"></ion-icon>&nbsp;
    {{"SETTINGS_PAGE.owningFullVersion" | translate}}
  </ion-button>

  <form [formGroup]="settingsForm">
    <ion-list [inset]="true" mode="ios">
      <ion-item>
        <ion-label> {{ "SETTINGS_PAGE.language" | translate }} </ion-label>
        <ion-select
          interface="action-sheet"
          okText="Okay"
          cancelText="Cancel"
          formControlName="language"
        >
          <ion-select-option *ngFor="let lang of languages" [value]="lang"
            >{{ lang.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button
      class="ion-padding-horizontal"
      size="default"
      expand="block"
      (click)="submit()"
    >
      {{ "SETTINGS_PAGE.save" | translate }}
    </ion-button>
  </form>

  <ion-button
    color="danger"
    class="ion-padding-horizontal deleteAccountButton"
    size="default"
    expand="block"
    routerLink="/accountdeletion"
  >
    {{ "SETTINGS_PAGE.deleteAccount" | translate }}
  </ion-button>
</ion-content>
