<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/swarms/view/' + swarmId"
        [text]="'GENERAL.backButtonCaption' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'JOURNAL_PAGE.pageTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-icon
        [color]="displayYear > minYear ? 'primary' : 'light'"
        name="play-back-outline"
        slot="start"
        (click)="changeYear(-1)"
      ></ion-icon>
      <ion-label class="ion-text-center"
        ><strong>{{ displayYear }}</strong></ion-label
      >
      <ion-icon
        [color]="displayYear < maxYear ? 'primary' : 'light'"
        name="play-forward-outline"
        slot="end"
        (click)="changeYear(1)"
      ></ion-icon>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col (click)="toggleFilter('varroa')">
            <ion-fab-button
              class="imgbutton"
              [disabled]="filter && filter !== 'varroa'"
            >
              <ion-img src="assets/img/Varroa_Mite.png"></ion-img>
            </ion-fab-button>
          </ion-col>
          <ion-col (click)="toggleFilter('queen')">
            <ion-fab-button
              class="imgbutton"
              [disabled]="filter && filter !== 'queen'"
            >
              <ion-img src="assets/img/queenSmall.png"></ion-img>
            </ion-fab-button>
          </ion-col>
          <ion-col (click)="toggleFilter('frames')">
            <ion-fab-button
              [disabled]="filter && filter !== 'frames'"
              class="imgbutton"
            >
              <ion-icon name="git-compare-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col (click)="toggleFilter('other')">
            <ion-fab-button
              color="primary"
              [disabled]="filter && filter !== 'other'"
            >
              <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ng-container *ngFor="let entry of filteredJournalEntries; let idx = index">
      <ion-item
        *ngIf="idx === 0 || datesDiffer(entry.date, filteredJournalEntries[idx - 1].date)"
      >
        <ion-label class="ion-text-center" color="primary">
          {{ entry.date | date:'MMM dd'}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="ion-float-left ion-margin-start ion-text-wrap">
            <app-journal-entry-short [entry]="entry"></app-journal-entry-short>
            <div class="journalText">{{ entry.text }}</div>
          </div>
        </ion-label>

        <ion-buttons slot="end" *ngIf="!readonly">
          <ion-button routerLink="edit" [queryParams]="{entryId: entry.id}">
            <ion-icon name="create-outline" color="secondary"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteEntry(entry)">
            <ion-icon name="trash-outline" color="secondary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>

    <ion-item
      *ngIf="filteredJournalEntries && filteredJournalEntries.length === 0"
    >
      <ion-label>
        {{ 'JOURNAL_PAGE.noTrackedActivity' | translate }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
