<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let entry of journalEntries">
      <ion-label>
        {{ entry.date | date:'dd.MM.'}} {{ entry.title }}
        <br />
        {{ entry.text }}
      </ion-label>
      <ion-buttons slot="end">
      <ion-button (click)="editEntry(entry)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteEntry(entry)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button color="primary" (click)="editEntry()">
    + Neuer Eintrag
  </ion-button>
</ion-content>
