<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/swarms"
        [text]="'GENERAL.backButtonCaption' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ABOUT_PAGE.pageTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="ion-text-center ion-padding-vertical">
        <h1>Bee Flat</h1>
      </div>
      <div
        class="ion-text-center ion-padding-vertical"
        [innerHTML]="'ABOUT_PAGE.devInfo' | translate"
      ></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div>
        <strong>{{ "ABOUT_PAGE.feedbackHeading" |translate}}</strong>
        <div
          class="ion-padding-vertical"
          [innerHTML]="'ABOUT_PAGE.feedbackInfo' | translate"
        ></div>
      </div>
      <div>
        <strong>{{ "ABOUT_PAGE.legalHeading" |translate}}</strong>
        <div
          class="ion-padding-vertical"
          [innerHTML]="'ABOUT_PAGE.legalInfo' | translate"
        ></div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
