<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Colonies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ng-container *ngFor="let swarm of swarms">
      <ion-item
        (tap)="openSwarmDetail(swarm.id)"
        (click)="openSwarmDetail(swarm.id)"
      >
        <ion-label>
          {{ swarm.name }}
          <span
            class="small-preview"
            *ngIf="lastAction.get(swarm.id) as action"
          >
            <br />
            <strong>{{ action.date | date:'dd. MMM'}}:</strong>
            {{ action.type + (action.text ? ' (' + action.text + ')' : '') }}
          </span>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-button (click)="migrateJournal()">Migrate</ion-button>

  <ion-button class="ion-float-right" (click)="createSwarm()">
    <ion-icon name="add-outline" slot="start"></ion-icon>
    Add new colony
  </ion-button>
</ion-content>
