<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Swarms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Swarms</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item *ngFor="let swarm of swarms$ | async">
        <ion-label [routerLink]="['view', swarm.id]">{{
          swarm.name
        }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button class="ion-float-right" (click)="createSwarm()">
      <ion-icon name="add-outline" slot="start"></ion-icon>
      Neues Volk anlegen
    </ion-button>
  </div>
</ion-content>
