<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ 'COLONIES' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
      <ng-container *ngFor="let group of sortedSwarmGroups">
        <ion-item
          class="ion-text-center groupHeading"
          (click)="group.id && editSwarmGroup(group)"
        >
          <ion-label>
            <strong> {{ group.name }} </strong>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="group.swarms.length === 0" class="small-preview">
          <ion-label> Drag colonies here by their bee icon </ion-label>
        </ion-item>
        <ion-item
          *ngFor="let swarm of group.swarms"
          (tap)="openSwarmDetail(swarm.id)"
          (click)="openSwarmDetail(swarm.id)"
        >
          <ion-reorder slot="start"> 🐝 </ion-reorder>
          <ion-label>
            {{ swarm.name }}
            <span
              class="small-preview"
              *ngIf="swarm.lastAction as entry; else noActionYet"
            >
              <br />
              <strong>{{ entry.date | date:'dd. MMM'}}: </strong>
              {{ entry.type }}
            </span>
            <ng-template #noActionYet>
              <br />
              <span class="small-preview">No activity yet</span>
            </ng-template>
          </ion-label>
          <ion-label
            slot="end"
            [color]="swarm.statusInfo?.colonyStatus === 'VARROA_OK' ? 'success' : 
        (swarm.statusInfo?.colonyStatus === 'VARROA_MEDIUM' ? 'warning' : 'danger')"
            *ngIf="swarm.statusInfo?.colonyStatus"
            class="statusInfoLabel"
          >
            {{ swarm.statusInfo.avgCount }}
            <ion-icon name="bug-outline" slot="end"></ion-icon> <br />per day
          </ion-label>
        </ion-item>

        <ion-item
          *ngIf="sortedSwarmGroups && sortedSwarmGroups.length === 0"
          class="ion-padding"
        >
          {{ 'NO_COLONIES_YET' | translate }} 🐝
        </ion-item>
      </ng-container>
    </ion-reorder-group>
  </ion-list>

  <!--
    <ion-button (click)="migrateJournal()">Migrate</ion-button>
  -->

  <ion-buttons class="ion-padding-horizontal">
    <ion-fab-button slot="end" color="primary" (click)="createSwarm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button slot="end" color="primary" (click)="editSwarmGroup()">
      <ion-icon name="duplicate-outline"></ion-icon>
    </ion-fab-button>
  </ion-buttons>
</ion-content>
