<ion-app>
  <ion-menu side="end" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ 'START_MENU' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="openSwarms()">{{ 'COLONIES' | translate }}</ion-item>
        <ion-item (click)="openFinance()">{{ 'FINANCE' | translate }}</ion-item>
        <ion-item (click)="onLogout()">{{ 'LOGOUT' | translate }}</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>