<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ "FORMER_COLONIES_PAGE.pageTitle" | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true" *ngIf="colonies">
    <ng-container *ngIf="colonies.length > 0; else noFormerColonies">
      <ion-item *ngFor="let colony of colonies">
        <ion-icon
          *ngIf="colony.activityStatus === 'DISSOLVED'"
          class="statusHint"
          slot="start"
          name="exit"
        ></ion-icon>
        <ion-icon
          *ngIf="colony.activityStatus === 'DECEASED'"
          class="statusHint"
          slot="start"
          name="heart-dislike"
        ></ion-icon>
        <ion-icon
          *ngIf="colony.activityStatus === 'SOLD'"
          class="statusHint"
          slot="start"
          name="cash"
        ></ion-icon>
        <ion-label slot="start">{{ colony.name }}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="viewJournal(colony)">
            <ion-icon name="book-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="reactivate(colony)" color="success">
            <ion-icon name="fitness-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>

    <ng-template #noFormerColonies>
      <ion-item>
        <ion-label class="ion-text-wrap"
          >{{ "FORMER_COLONIES_PAGE.noColonies" | translate}}</ion-label
        >
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
