<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/swarms/view/' + colonyId">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><strong>{{ 'QUEEN.pageTitle' | translate }}</strong></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="newStatus && newStatus?.birthYear; else defaultStatus">
    <ion-list [inset]="true" mode="ios">
      <ion-item>
        <ion-label class="ion-text-center"
          >{{'QUEEN.lastSeen' | translate}}</ion-label
        >
      </ion-item>
      <ion-datetime
        [(ngModel)]="newStatus.lastSeen"
        class="ion-text-center"
        placeholder="{{'GENERAL.pickDate' | translate}}"
        max="{{ maxDate }}"
        min="{{ minDate }}"
      ></ion-datetime>
    </ion-list>

    <ion-list [inset]="true" mode="ios">
      <ion-item>
        <ion-label class="ion-text-center"
          >{{'QUEEN.lastSeenEggs' | translate}}</ion-label
        >
      </ion-item>
      <ion-datetime
        [(ngModel)]="newStatus.eggsSeen"
        class="ion-text-center"
        placeholder="{{'GENERAL.pickDate' |
      translate}}"
        max="{{ maxDate }}"
        min="{{ minDate }}"
      ></ion-datetime>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button class="ion-float-left" color="primary" (click)="save()"
            >{{"GENERAL.save" | translate}}</ion-button
          >
        </ion-col>
        <ion-col size="2" offset="7" class="ion-padding-horizontal">
          <ion-fab-button
            class="ion-float-right"
            color="danger"
            (click)="queenDeceased()"
          >
            <ion-icon name="heart-dislike-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #defaultStatus>
    <ng-container *ngIf="newStatus">
      <ion-list [inset]="true" mode="ios">
        <ion-item>
          <ion-label class="ion-text-wrap">
            {{ 'QUEEN.noQueenYet' | translate }}
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button
        color="primary"
        class="ion-padding-horizontal"
        (click)="initQueenData()"
      >
        {{'QUEEN.initQueenData' | translate}}
      </ion-button>
    </ng-container>
  </ng-template>
</ion-content>
