<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ entryId ? 'Edit' : 'New' }} entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="entryForm">
    <ion-list>
      <ion-item>
        <ion-label>Action type</ion-label>
        <ion-select
          placeholder="Action type"
          name="actionType"
          formControlName="actionType"
        >
          <ion-select-option *ngFor="let option of typeOptions" [value]="option"
            >{{ option }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          Date
        </ion-label>
        <ion-datetime
          formControlName="date"
          displayFormat="DD.MMM YYYY"
          placeholder="Select Date"
        >
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Comment</ion-label>
        <ion-textarea formControlName="text" placeholder="Optional comment">
        </ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button [disabled]="!entryForm.valid" type="submit" (click)="save()"> Save </ion-button>
  </form>
</ion-content>
