<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title
      >{{ (entryId ? 'JOURNAL_PAGE.editEntry' : 'JOURNAL_PAGE.newEntry') |
      translate }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="entryForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked"
          >{{ 'JOURNAL_PAGE.actionType' | translate }}</ion-label
        >
        <ion-select
          #actionSelect
          name="actionType"
          interface="action-sheet"
          formControlName="actionType"
          (ionChange)="onActionTypeChange()"
          (ionCancel)="onCancel()"
        >
          <ion-select-option *ngFor="let option of typeOptions" [value]="option"
            >{{ option }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          {{ 'JOURNAL_PAGE.date' | translate }}
        </ion-label>
        <ion-datetime
          formControlName="date"
          displayFormat="DD. MMM YYYY"
          placeholder="Select Date"
        >
        </ion-datetime>
      </ion-item>
      <ion-item [ngClass]="{'ion-hide': !countable}">
        <ion-label position="stacked">
          {{ 'JOURNAL_PAGE.amount' | translate }}
          <span *ngIf="countable">({{ countable.unit }})</span>
        </ion-label>
        <ion-input
          formControlName="amount"
          (click)="openAmountPicker()"
          value="0"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >{{ 'JOURNAL_PAGE.comment' | translate }}</ion-label
        >
        <ion-textarea formControlName="text" placeholder="Optional comment">
        </ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button
      [disabled]="!entryForm.valid || saving"
      type="submit"
      (click)="save()"
    >
      {{ 'JOURNAL_PAGE.save' | translate }}
    </ion-button>
  </form>
</ion-content>
