<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/swarms"
        [text]="'GENERAL.backButtonCaption' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title (click)="openRenameDialog()"
      ><strong>{{ swarm?.name }}</strong></ion-title
    >
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-item class="ion-text-center">
      <ion-label>
        <strong>{{"JOURNAL_PAGE.latestActivity" | translate}}</strong>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let entry of journalEntries">
      <ion-label *ngIf="entry.type">
        <strong>{{ entry.date | date:'dd. MMM'}}: </strong>
        <app-journal-entry-short [entry]="entry"></app-journal-entry-short>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="journalEntries && journalEntries.length === 0">
      <i>{{"JOURNAL_PAGE.noTrackedActivity" | translate}}</i>
    </ion-item>
    <ion-item routerLink="journal">
      <ion-label>{{"JOURNAL_PAGE.viewJournal" | translate}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-buttons class="ion-padding-horizontal">
    <ion-fab-button
      class="imgbutton"
      routerLink="journal/edit"
      [queryParams]="{type: 'varroa'}"
    >
      <ion-img src="assets/img/Varroa_Mite.png"></ion-img>
    </ion-fab-button>
    <ion-fab-button class="imgbutton" routerLink="queen">
      <ion-img src="assets/img/queenSmall.png"></ion-img>
    </ion-fab-button>
    <ion-fab-button class="imgbutton" routerLink="frames">
      <ion-icon name="git-compare-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      color="primary"
      routerLink="journal/edit"
      [queryParams]="{type: 'other'}"
    >
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
  </ion-buttons>
  <ion-buttons class="ion-padding-horizontal">
    <ion-fab-button routerLink="reminder">
      <ion-icon name="alarm-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button slot="end" color="danger" (click)="markAsDeceased()">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-buttons>

  <ion-list *ngIf="reminders?.length > 0" [inset]="true">
    <ion-item class="ion-text-center">
      <ion-label>
        <strong>{{ "REMINDERS.listTitle" | translate }}</strong>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let reminder of reminders" class="reminder">
      <strong>{{ reminder.date | date:'dd. MMM'}}: </strong>
      &nbsp;{{ reminder.text }}
      <ion-buttons slot="end">
        <ion-button (click)="deleteReminder(reminder.reminderId)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
