<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/swarms"
        [text]="'GENERAL.backButtonCaption' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ACCOUNT_DELETION.pageTitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <span [innerHTML]="'ACCOUNT_DELETION.introText' | translate"></span>
      <ion-input type="password" class="ion-float-left"
      [(ngModel)]="password" 
      placeholder="{{ 'ACCOUNT_DELETION.passwordPlaceholder' | translate }}">
      </ion-input>
      <br>
      <ion-button size="small" color="danger" [disabled]="!password" (click)="deleteAccount()">
        {{'ACCOUNT_DELETION.deleteButton' | translate }}
      </ion-button>

      <br><br>
      <span [innerHTML]="'ACCOUNT_DELETION.feedbackText' | translate"></span>      
    </ion-card-content>
  </ion-card>
</ion-content>
