<ion-item
  class="ion-text-center forecast"
  *ngIf="forecast$ | async as forecast"
>
  <div class="forecastDay" *ngFor="let fc of forecast.daily">
    <div class="dayHeader">{{ fc.date | date: "E":"de" }}</div>
    <div *ngIf="fc.weather[0].main === weatherType.CLEAR">
      <ion-icon class="sunny" name="sunny"></ion-icon>
    </div>
    <div *ngIf="fc.weather[0].main === weatherType.CLOUDS">
      <ion-icon class="cloudy" name="cloud-outline"></ion-icon>
    </div>
    <div *ngIf="fc.weather[0].main === weatherType.RAIN">
      <ion-icon class="rainy" name="rainy-outline"></ion-icon>
    </div>
    <div [ngClass]="{ danger: fc.temp.max < 0 || fc.temp.max > 30 }">
      {{ fc.temp.max }}°
    </div>
    <div [ngClass]="{ danger: fc.temp.min < 0 || fc.temp.min > 30 }">
      {{ fc.temp.min }}°
    </div>
  </div>
</ion-item>
