<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="swarmId ? '/swarms/view/' + swarmId : '/swarms'">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title
      ><strong
        >{{ (this.reminderId ? 'REMINDERS.pageTitleEdit' : 'REMINDERS.pageTitle') | translate }}</strong
      ></ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [inset]="true" mode="ios">
    <ion-item *ngIf="groupName">
      {{'REMINDERS.targetLocation' | translate}}:&nbsp; <strong>{{groupName}}</strong>
    </ion-item>
    <ion-item *ngIf="swarmName">
      {{'REMINDERS.targetColony' | translate}}:&nbsp; <strong>{{swarmName}}</strong>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true" mode="ios">
    <ion-item>
      <ion-label id="date">
        <span [translate]="'REMINDERS.datetimePattern'" [translateParams]="{date: datePart, time: timePart}"></span>
        <ion-icon class="ion-float-right" name="create-outline" size="small"></ion-icon>
      </ion-label>
      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime
            #popoverDate
            (ionChange)="setDateTime(popoverDate.value)"
            presentation="date-time"
            locale="de-DE"
            max="{{ maxDate }}"
            min="{{ minDate }}"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="text" rows="3" placeholder="{{'REMINDERS.textPlaceholder' | translate}}">
      </ion-textarea>
    </ion-item>
  </ion-list>
  <div class="controls-container">
    <ion-button class="ion-padding-horizontal" [disabled]="!text || !text.trim()" type="submit" (click)="save()">
      {{ 'GENERAL.save' | translate }}
    </ion-button>
  </div>
</ion-content>
