<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/swarms/view/' + swarmId">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ (entryId ? 'JOURNAL_PAGE.editEntry' : 'JOURNAL_PAGE.newEntry') | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="entryForm">
    <ion-list mode="ios" [inset]="true">
      <ion-item>
        <ion-label position="stacked">{{ 'JOURNAL_PAGE.actionType' | translate }}</ion-label>
        <ion-select
          #actionSelect
          name="actionType"
          interface="action-sheet"
          formControlName="actionType"
          (ionChange)="onActionTypeChange()"
          (ionCancel)="onCancel()"
          [disabled]="!!entryId"
          [okText]="'GENERAL.ok' | translate"
          [cancelText]="'GENERAL.cancel' | translate"
        >
          <ion-select-option *ngFor="let option of typeOptions" [value]="option"
            >{{ 'ACTIONS.' + option | translate }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> {{ 'JOURNAL_PAGE.date' | translate }} </ion-label>
        <ion-input id="date">{{ entryForm.controls.date.value | date:'dd.MM.yyyy' }}</ion-input>
        <ion-popover trigger="date" size="cover">
          <ng-template>
            <ion-datetime
              #popoverDate
              (ionChange)="setDate(popoverDate.value)"
              placeholder="'JOURNAL_PAGE.selectDatePlaceholder' | translate"
              presentation="date"
              locale="de-DE"
              [value]="initialDate"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item [ngClass]="{'ion-hide': !countable}">
        <ion-label position="stacked">
          {{ 'JOURNAL_PAGE.amount' | translate }}
          <span *ngIf="countable">({{ 'UNIT.' + countable.unit | translate }})</span>
        </ion-label>
        <ion-input formControlName="amount" (click)="openAmountPicker()" value="0"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'JOURNAL_PAGE.comment' | translate }}</ion-label>
        <ion-textarea formControlName="text" placeholder="{{'JOURNAL_PAGE.optionalComment' | translate}}">
        </ion-textarea>
      </ion-item>
    </ion-list>

    <div class="controls-container">
      <ion-button class="ion-padding-horizontal" [disabled]="!entryForm.valid || saving" type="submit" (click)="save()">
        {{ 'GENERAL.save' | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
