<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/swarms"></ion-back-button>
    </ion-buttons>
    <ion-title><strong>{{ swarm?.name }}</strong></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-item class="ion-text-center">
      <ion-label>
        <strong>Latest activity</strong>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let entry of journalEntries">
      <ion-label *ngIf="entry.type">
        <strong>{{ entry.date | date:'dd. MMM'}}:</strong>
        {{ entry.type + (entry.text ? ' (' + entry.text + ')' : '') }}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="journalEntries && journalEntries.length === 0">
      <i>No tracked activity yet.</i>
    </ion-item>    
    <ion-item routerLink="journal">
      <ion-label>
        View journal
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-buttons class="ion-padding-horizontal">
    <ion-fab-button
      class="imgbutton"
      routerLink="journal/edit"
      [queryParams]="{type: 'varroa'}"
    >
      <ion-img src="assets/img/Varroa_Mite.png"></ion-img>
    </ion-fab-button>
    <ion-fab-button
      class="imgbutton"
      routerLink="journal/edit"
      [queryParams]="{type: 'queen'}"
    >
      <ion-img src="assets/img/crown.jpeg"></ion-img>
    </ion-fab-button>
    <ion-fab-button
      class="imgbutton"
      routerLink="journal/edit"
      [queryParams]="{type: 'frames'}"
    >
      <ion-img src="assets/img/wabe.jpeg"></ion-img>
    </ion-fab-button>
    <ion-fab-button slot="end" color="primary" routerLink="journal/edit">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-buttons>
</ion-content>
