<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Volk "{{ (swarm$ | async)?.name }}"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let entry of journalEntries$ | async">
      <ion-label [routerLink]="['journal', entry.id]"
        >Eintrag vom {{ entry.date }}</ion-label
      >
    </ion-item>
  </ion-list>

  <ion-button color="primary" [routerLink]="['journal', 'create']"
    >+ Neuer Eintrag</ion-button
  >
</ion-content>
