<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/swarms/view/' + colonyId">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><strong>{{ 'FRAMES.pageTitle' | translate }}</strong></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [inset]="true" mode="ios">
    <ion-item>
      <ion-label position="stacked"> {{ 'JOURNAL_PAGE.date' | translate }}</ion-label>
      <ion-input id="date">{{ date | date:'dd.MM.yyyy' }} </ion-input>

      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime
            #popoverDate
            (ionChange)="date = popoverDate.value"
            placeholder="'JOURNAL_PAGE.selectDatePlaceholder' | translate"
            presentation="date"
            locale="de-DE"
            max="{{ maxDate }}"
            min="{{ minDate }}"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-item *ngFor="let item of amounts | keyvalue">
      <ion-icon
        color="primary"
        name="remove-circle-outline"
        slot="start"
        (click)="changeAmount(item.key, -1)"
      ></ion-icon>
      <ion-label class="ion-text-center">
        {{item.key | translate}}<br />
        <span *ngIf="item.value === 0" class="text-muted"> {{ 'FRAMES.noChange' | translate }} </span>
        <strong *ngIf="item.value > 0">{{ item.value }} {{ 'FRAMES.added' | translate }}</strong>
        <strong *ngIf="item.value < 0">{{ -item.value }} {{ 'FRAMES.removed' | translate }}</strong>
      </ion-label>
      <ion-icon color="primary" name="add-circle-outline" slot="end" (click)="changeAmount(item.key, 1)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-item>
      <ion-icon color="primary" name="remove-circle-outline" slot="start" (click)="changeStoreys(-1)"></ion-icon>
      <ion-label class="ion-text-center">
        {{"FRAMES.storeys" | translate}}<br />
        <span *ngIf="storeyAmount === 0" class="text-muted"> {{ 'FRAMES.noChange' | translate }} </span>
        <strong *ngIf="storeyAmount > 0">{{ storeyAmount }} {{ 'FRAMES.storeyAdded' | translate}}</strong>
        <strong *ngIf="storeyAmount < 0">{{ -storeyAmount }} {{ 'FRAMES.storeyRemoved' | translate}}</strong>
      </ion-label>
      <ion-icon color="primary" name="add-circle-outline" slot="end" (click)="changeStoreys(1)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-item>
      <ion-icon color="primary" name="remove-circle-outline" slot="start" (click)="changeHarvest(-1)"></ion-icon>
      <ion-label class="ion-text-center">
        {{"FRAMES.harvest" | translate}}<br />
        <span *ngIf="harvestAmount === 0" class="text-muted"> {{ 'FRAMES.noHarvest' | translate }} </span>
        <strong *ngIf="harvestAmount > 0">{{ harvestAmount }} kg</strong>
      </ion-label>
      <ion-icon color="primary" name="add-circle-outline" slot="end" (click)="changeHarvest(1)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button class="ion-padding-horizontal" type="submit" (click)="save()">
    {{ 'GENERAL.save' | translate }}
  </ion-button>
</ion-content>
