<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/swarms"
        [text]="'GENERAL.backButtonCaption' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-title><strong>{{ 'QUEEN.pageTitle' | translate }}</strong></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="newStatus && newStatus?.birthYear; else defaultStatus">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label class="ion-text-center"
          >{{'QUEEN.birthYear' | translate}}</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-icon
          [color]="newStatus.birthYear > minYear ? 'primary' : 'light'"
          name="remove-circle-outline"
          slot="start"
          (click)="decrementBirthYear()"
        ></ion-icon>
        <ion-label class="ion-text-center"
          ><strong>{{ newStatus?.birthYear }}</strong></ion-label
        >
        <ion-icon
          [color]="newStatus.birthYear < maxYear ? 'primary' : 'light'"
          name="add-circle-outline"
          slot="end"
          (click)="incrementBirthYear()"
        ></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-item>
        <ion-label class="ion-text-center"
          >{{'QUEEN.lastSeen' | translate}}</ion-label
        >
      </ion-item>
      <ion-datetime
        [(ngModel)]="newStatus.lastSeen"
        class="ion-text-center"
        placeholder="{{'GENERAL.pickDate' | translate}}"
        max="{{ maxDate }}"
        min="{{ minDate }}"
      ></ion-datetime>
    </ion-list>

    <ion-list [inset]="true">
      <ion-item>
        <ion-label class="ion-text-center"
          >{{'QUEEN.lastSeenEggs' | translate}}</ion-label
        >
      </ion-item>
      <ion-datetime
        [(ngModel)]="newStatus.eggsSeen"
        class="ion-text-center"
        placeholder="{{'GENERAL.pickDate' |
      translate}}"
        max="{{ maxDate }}"
        min="{{ minDate }}"
      ></ion-datetime>
    </ion-list>

    <ion-button class="ion-padding-horizontal" color="primary" (click)="save()"
      >{{"GENERAL.save" | translate}}</ion-button
    >
    <ion-fab-button
      class="ion-float-right"
      color="danger"
      (click)="queenDeceased()"
    >
      <ion-icon name="heart-dislike-outline"></ion-icon>
    </ion-fab-button>
  </ng-container>

  <ng-template #defaultStatus>
    <ng-container *ngIf="newStatus">
      <ion-list [inset]="true">
        <ion-item>
          <ion-label class="ion-text-wrap">
            {{ 'QUEEN.noQueenYet' | translate }}
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button
        color="primary"
        class="ion-padding-horizontal"
        (click)="initQueenData()"
      >
        {{'QUEEN.initQueenData' | translate}}
      </ion-button>
    </ng-container>
  </ng-template>
</ion-content>
